<div class="team_1 col-sm-3 col-sm-offset-2">
  <%= render "team_names", :team => match.teams.first %>
</div>
<div class="col-sm-3">vs.</div>
<div class="team_2 col-sm-3">
  <%= render "team_names", :team => match.teams.last %>
</div>
