<div id="matchDisplay" class="row col-sm-6 col-sm-offset-3">
  <div id="enterPlayers">
    <%= render "new_players_form" %>
  </div>
  <div id="startMatch" class="well">
    <ul id="match-vs" class="list-unstyled">
    </ul>
  </div>
  <div id="scoreboard">
    <div class="row">
      <div class="list-group col-sm-4">
        <a class="list-group-item text-center active">Current Match</a>
        <a class="list-group-item text-center">Game 1</a>
        <a class="list-group-item text-center">Game 2</a>
        <a class="list-group-item text-center">game 3</a>
      </div>
      <div id="team_1" class="list-group col-sm-4">
        <a href="#" class="current-player list-group-item text-center active"></a>
        <input id="t1Game1Score" class="list-group-item text-center" placeholder="Enter score">
        <input id="t1Game2Score" class="list-group-item text-center" placeholder="Enter score">
        <input id="t1Game3Score" class="list-group-item text-center" placeholder="Enter score">
      </div>
      <div id="team_2" class="list-group col-sm-4">
        <a href="#" class="current-player list-group-item text-center active"></a>
        <input id="t2Game1Score" class="list-group-item text-center" placeholder="Enter score">
        <input id="t2Game2Score" class="list-group-item text-center" placeholder="Enter score">
        <input id="t2Game3Score" class="list-group-item text-center" placeholder="Enter score">
      </div>
    </div>
    <div class="row text-center">
      <button href="#" type="button" id="updateScore" class="btn btn-info">Update Score</button>
      <button href="#" type="button" id="done" class="btn btn-success">Match Completed</button>
    </div>
  </div>
  <button type="button" id="newMatch" class="btn btn-default btn-lg btn-block">CREATE MATCH</button>

</div>

<script type="text/x-handlebars-template" id="matchList" >
  <li data-id={{matchId}}>
    <div class="match">
      <div class="row">
        <span class="player_names">
          <div class="team_1 col-sm-3 col-sm-offset-2">
            <p>{{team_one_name1}}</p>
          </div>
          <div class="col-sm-3">vs.</div>
          <div class="team_2 col-sm-3">
            <p>{{team_one_name2}}</p>
          </div>
        </span>
      </div>
      <div class="row col-sm-offset-1">
        <button type="button" id="beginMatch" class="btn btn-success">Start Match</button>
        <button type="button" id="deleteMatch" class="btn btn-default">Delete Match</button>
      </div>
    </div>
  </li>
</script>
